<h1><%= @words %></h1>

<form method="GET" action="/main/search">
  <div class="form-control">
    <label for="search">Search the Art Institute</label>
    <input type="text" name="search" id="search">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

